

<main class="main">
	<section class="cover">
		<div class="main-article">
			<article class="cover-story image">
			</article>
		</div>

		<div class="side-article">
			<article class="cover-story-up image-up">
			</article>

			<article class="cover-story-down image-down">
			</article>
		</div>
	</section>	
</main>
